{% extends "appbuilder/base.html" %}

{% block content %}
    <div style="float: left; padding-right: 10em">
    {% for event in events %}
        <div id="{{ event.event_pin.code }}_{{ event.event_pin.type_id.id }}">
            <p>Name: {{ event.name }}</p>
            <p>Type: {{ event.event_pin.function }}</p>
            <p>Room: {{ event.event_pin.room.name }}</p>
        </div>
    {% endfor %}
    </div>
    <div style="float: left; ">
    {% for output in outputs %}
        <div id="{{ output.code }}">
            <p>Name: {{ output.name }}</p>
            <p>Room: {{ output.room.name }}</p>
            <p>Value:<a id="{{ output.code }}_value">{{ output.value }}</a></p>
        </div>
    {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        {% for event in events %}
            $("#{{ event.event_pin.code }}_{{ event.event_pin.type_id.id }}").click(function() {
                $.post( '/dashboard/set/',
                        {pin_code:'{{ event.event_pin.code }}'},
                        function (response, textStatus, jqXHR) {
                            data = response.output;
                            for (var i = 0; i < data.length; i++) {
                                console.log(data[i]);
                                $("#" + data[i].code + "_value").html(data[i].value)
                            }
                        }
                );
            });
        {% endfor %}
    </script>
{% endblock %}